#row1 {
    background-color: white;
    text-align: center;

}

#table {
    width:1000px;
    border:"0";
    padding:"2px";
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif
}

.button {
    display: block;
    width: 150px;
    height: 15px;
    background: steelblue;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    font-size: small;
}

#table-body > .row:nth-child(even) {
    background-color:rgba(149,211,232,0.15);
}

td {
    font-size:small;
    padding:10px;
}
tr > td:nth-child(odd) {
border-radius: 50;

}